.app-container {
    margin: auto;
    width: 50%;
    border: 3px solid grey;
    
    background-color: ghostwhite;
    padding: 3rem;
    overflow:visible;
    
    
 }
#userdiv{
    text-align: center;
}

 body {
     background-color: gainsboro;
     background-image: url("https://source.unsplash.com/daily");
     background-size: 100%;
 }
 #place {
     text-align: center;
 }
 #tempdiv {
     border: 2px solid;
 }
 #speeddiv{
    border: 2px solid;
       
 }
 